@section Header {
<div class="page-head">
    <h1 class="mono">await Wisdom()</h1>
    <h2 class="subheading">yielding control to caller until Wisdom() returns</h2>
</div>
}
@{
    foreach(IDocument doc in Documents
            .Where(x => x.ContainsKey("Published") && x.Get<DateTimeOffset>("Published") <= System.DateTimeOffset.Now)
            .OrderByDescending(x => x.Get<DateTimeOffset>("Published"))
            .Take(5))
    {
        string file = doc.String("RelativeFilePath").Replace("\\", "/");
        string link = "Posts/" + System.IO.Path.GetFileNameWithoutExtension(file);
        string lead = doc.String("Lead");

        <article class="row twelve columns">
            <header>
                <a href="@link">
                    <h3>@doc.String("Title")</h3>
                </a>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h4 class="lead">@lead</h4>
                }
            </header>
            <p>Posted on @(doc.Get<DateTimeOffset>("Published").ToLocalTime().ToString("D"))</p>
            @Html.Raw(doc.String("Excerpt"))
        </article>       
    }
}