@{
    Layout = "_Layout.cshtml";
    var Title = Model.String("Title");
    var Lead = Model.String("Lead");
    var Published = Model.Get<DateTime>("Published");
    var Edited = Model.Get<DateTime>("Edited");        
    var Page = System.IO.Path.GetFileNameWithoutExtension(Model.String("RelativeFilePath"));
    var Tags = Model.Get<string[]>("Tags");
    var tagString = string.Join(", ", Tags.OrderBy(x => x).ToArray());
}
@section Header {
    <div class="page-head">
        <h1>@Title</h1>
        @if(!string.IsNullOrWhiteSpace(Lead))
        {
            <h2 class="subheading">@Lead</h2>
        }            
        <div class="meta">        
            @if (Published != default(DateTime))
            {
                <span>Published on @Published.ToLongDateString()</span><br />
            }
            @if (Edited != default(DateTime))
            {
                <span>Edited on @Edited.ToLongDateString()</span>
            }
        </div>
        @if (Tags != null)
        {
            <div class="tags">
                @tagString
            </div>     
        } 
    </div>
}

@RenderBody()